.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #9f9fe2fa;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Firstcomponent{
  background-color: rgb(238, 197, 144);
  color: white;
}

.Secondcomponent{
  background-color: rgb(139, 190, 219);
  color: white;
}

.Contactus{
  background-color: rgb(183, 212, 136);
  color: white;
}

.Help{
  background-color: rgb(231, 194, 200);
  color: white;
  
}

.Thirdcomponent{
 background-color: rgb(235, 228, 156);
 color: brown;
 padding: 30px;
}

.Fourthcomponent{
  background-color: rgb(231, 77, 108);
  color: rgb(235, 194, 140);
}